<div class="row mb-5">
    <div class="col-sm-3 offset-sm-1">

        <div class="card mt-5">
            <img class="card-img-top" src="{{photoURL}}">
            <div class="card-body">
                <h4 class="card-title">{{firstName + " "+ lastName}}</h4>
                <a routerLink="/edit-profile/{{userID}}" class="btn btn-sm btn-primary">Edit Profile</a>
            </div>
        </div>

    </div>

    <div class="col-sm-7 mb-5">
        <app-createpost></app-createpost>
        <app-post ></app-post>
    </div>

</div>