<div class="row mt-5">
    <div class="col">
        <form class="form-group" [formGroup]="CreatedData" (submit)="createPost()" enctype="multipart/form-data">
            <label for="title">Post Title</label>
            <input type="text" class="form-control" id="title" placeholder="Post Title" name="title"
                formControlName="title">
            <label for="description" class="mt-4">Post Content</label>
            <!-- <textarea type="text" class="form-control" id="description" placeholder="Write here.." name="description"
                formControlName="description" rows="10"></textarea> -->
            <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

            <input class="btn btn-warning btnRound float-right mt-3" type="submit">
        </form>

    </div>
</div>