nav {
    border-bottom: 1px solid #6ca3f9;
}

.nav-link {
    color: white !important;

}

img {
    height: 60px;
}

.active {
    border: 3px solid;
    border-radius: 10px;
}

@media screen and (max-width:991px) {
    .nav-link {
        text-align: center;
    }
}