<div class="row background">
    <div class="col-sm-12 col-md-6 background-left p-5 pb-5">
        <h2 class="text-left">Don't just think! Blog It!</h2>
    </div>
    <div class="col-sm-12 col-md-6 background-right p-5 pb-5">
        <div class="row">
            <div class="offset-sm-2 col-sm-8">
                <div class="card text-blank border-0">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h5>Sign up for free</h5>
                        </div>

                        <div class="card-text">
                            <form [formGroup]="signupValue" (submit)="register()">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" name="firstname" class="form-control"
                                            placeholder="First Name" formControlName="firstname">
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <input type="text" name="lastname" class="form-control" placeholder="Last Name"
                                            formControlName="lastname">
                                    </div>
                                </div>

                                <div class="alert alert-danger"
                                    *ngIf="(!signupValue.controls['firstname'].valid || !signupValue.controls['lastname'].valid) && (signupValue.controls['firstname'].touched || signupValue.controls['lastname'].touched)">
                                    First and Last name are required
                                </div>

                                <div class="form-group">

                                    <input type="email" placeholder="Enter your email" class="form-control" name="email"
                                        formControlName="email">
                                    <small class="form-text text-muted">
                                        We'll never share your email with anyone else
                                    </small>

                                </div>

                                <div *ngIf="!signupValue.controls['email'].valid && signupValue.controls['email'].touched"
                                    class="alert alert-danger"> Email is required.</div>


                                <div class="form-group eyeHideAndShow">
                                    <input type="password" class="form-control" placeholder="Password" name="password"
                                        formControlName="password">
                                    <!-- <a>
                                        <i class="fa fa-eye" aria-hidden="true" (click)="toggleShow()"
                                        *ngIf="showPassword"></i>
                                        <i *ngIf="!showPassword" (click)="toggleShow()" class=" fa fa-eye-slash"
                                            aria-hidden="true" *ngIf="!showPassword"></i></a> -->


                                </div>

                                <!-- <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Confirm Password"
                                        name="confirmPassword" formControlName="confirmPassword">
                                </div> -->

                                <div *ngIf="!signupValue.controls['password'].valid && signupValue.controls['password'].touched"
                                    class="alert alert-danger"> *Minimum eight characters, at least one uppercase
                                    letter, one lowercase letter, one
                                    number and one special character:</div>

                                <div class="text-center">
                                    <button type="submit" [disabled]="!signupValue.valid"
                                        class="btn btn-block btn-warning">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="alert alert-success" *ngIf="message.length > 0">
                    {{ message }}
                </div>

                <!-- <div class="alert alert-danger" *ngIf="userError">
                    {{userError }}
                </div> -->

            </div>
        </div>
    </div>

</div>